{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "importOrder": [
    "^(^payload$|^payload/(.*)$)$",
    "^(^@payloadcms$|^@payloadcms/(.*)$)$",
    "^(react|react-dom)$",
    "<THIRD_PARTY_MODULES>",
    "^(^types$)|(^types/(.*)$)$",
    "^(^assets$)|(^assets/(.*)$)$",
    "^(^locales$)|(^locales/(.*)$)$",
    "^i18n$",
    "^(^components$)|(^components/(.*)$)$",
    "^(^collections$)|(^collections/(.*)$)$",
    "^(^globals$)|(^globals/(.*)$)$",
    "^(^blocks$)|(^blocks/(.*)$)$",
    "^(^fields$)|(^fields/(.*)$)$",
    "^(^hooks$)|(^hooks/(.*)$)$",
    "^(^utils$)|(^utils/(.*)$)$",
    "^(../)(^types$)|(^types/(.*)$)$",
    "^(../)(^assets$)|(^assets/(.*)$)$",
    "^(../)(^locales$)|(^locales/(.*)$)$",
    "^(../)(^components$)|(^components/(.*)$)$",
    "^(../)(^collections$)|(^collections/(.*)$)$",
    "^(../)(^globals$)|(^globals/(.*)$)$",
    "^(../)(^fields$)|(^fields/(.*)$)$",
    "^(../)(^hooks$)|(^hooks/(.*)$)$",
    "^(../)(^utils$)|(^utils/(.*)$)$",
    "^(./)(^types$)|(^types/(.*)$)$",
    "^(./)(^assets$)|(^assets/(.*)$)$",
    "^(./)(^locales$)|(^locales/(.*)$)$",
    "^(./)(^components$)|(^components/(.*)$)$",
    "^(./)(^collections$)|(^collections/(.*)$)$",
    "^(./)(^globals$)|(^globals/(.*)$)$",
    "^(./)(^fields$)|(^fields/(.*)$)$",
    "^(./)(^hooks$)|(^hooks/(.*)$)$",
    "^(./)(^utils$)|(^utils/(.*)$)$",
    "^(../)",
    "^(./)"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "printWidth": 120,
  "proseWrap": "always",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
